@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ASM_GS.Models.Combo

<form asp-action="Edit" method="post" id="editComboForm" enctype="multipart/form-data">
    <input type="hidden" asp-for="MaCombo" />
    <div class="form-group">
        <label asp-for="TenCombo">Tên Combo</label>
        <input asp-for="TenCombo" class="form-control" required />
        <span asp-validation-for="TenCombo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MoTa">Mô tả</label>
        <textarea asp-for="MoTa" class="form-control" rows="4"></textarea>
        <span asp-validation-for="MoTa" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gia">Giá Combo</label>
        <input asp-for="Gia" class="form-control" type="number" required />
        <span asp-validation-for="Gia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Chọn Sản Phẩm</label>
        <div class="checkbox-list">
            @foreach (var sanPham in ViewBag.SanPhams as List<ASM_GS.Models.SanPham>)
            {
                <div class="form-check">
                    <input type="checkbox" name="selectedSanPhams" value="@sanPham.MaSanPham" class="form-check-input" id="sanPham_@sanPham.MaSanPham"
                    @(Model.ChiTietCombos.Any(ct => ct.MaSanPham == sanPham.MaSanPham) ? "checked" : "") />
                    <label class="form-check-label" for="sanPham_@sanPham.MaSanPham">@sanPham.TenSanPham</label>
                </div>
            }
        </div>
        <span class="text-danger">@ViewData.ModelState["selectedSanPhams"]?.Errors.FirstOrDefault()?.ErrorMessage</span>
    </div>
    <div class="form-group">
        <label for="anhcombo">Ảnh Combo</label>
        <input type="file" name="anhcombo" class="form-control" />
        @if (!string.IsNullOrEmpty(Model.Anh))
        {
            <img src="@Url.Content($"~/img/AnhCombo/{System.IO.Path.GetFileName(Model.Anh)}")"
                 alt="Ảnh Combo"
                 style="display: block; margin: 0 auto; width: 150px; height: 150px; object-fit: cover;border-radius: 2%" />
        }
        else
        {
            <span>Không có ảnh</span>
        }
    </div>
    <div class="form-group">
        <label asp-for="TrangThai">Trạng thái</label>
        <select asp-for="TrangThai" class="form-control">
            <option value="1">Đang Áp Dụng</option>
            <option value="0">Không Áp Dụng</option>
        </select>
        <span asp-validation-for="TrangThai" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Cập nhật</button>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
 