@model ASM_GS.Models.LoginModelView
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    <title>Care - Beauty Store Bootstrap 5 HTML CSS Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="TemplatesJungle">
    <meta name="keywords" content="ecommerce,fashion,store">
    <meta name="description" content="Beauty Store Bootstrap 5 HTML CSS Template">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="icomoon/icomoon.css">
    <link rel="stylesheet" type="text/css" href="css/vendor.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Prata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    <meta name="google-signin-client_id" content="@ViewData["GoogleClientId"]">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/fonts/boxicons.css")" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/css/core.css")" class="template-customizer-core-css" />
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/css/theme-default.css")" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/demo.css")" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css")" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="@Url.Content("~/assets/vendor/js/helpers.js")"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="@Url.Content("~/assets/js/config.js")"></script>
</head>

<body class="homepage">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <defs>
            <symbol xmlns="http://www.w3.org/2000/svg" id="instagram" viewBox="0 0 15 15">
                <path fill="none" stroke="currentColor"
                      d="M11 3.5h1M4.5.5h6a4 4 0 0 1 4 4v6a4 4 0 0 1-4 4h-6a4 4 0 0 1-4-4v-6a4 4 0 0 1 4-4Zm3 10a3 3 0 1 1 0-6a3 3 0 0 1 0 6Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="facebook" viewBox="0 0 15 15">
                <path fill="none" stroke="currentColor"
                      d="M7.5 14.5a7 7 0 1 1 0-14a7 7 0 0 1 0 14Zm0 0v-8a2 2 0 0 1 2-2h.5m-5 4h5" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="twitter" viewBox="0 0 15 15">
                <path fill="currentColor"
                      d="m14.478 1.5l.5-.033a.5.5 0 0 0-.871-.301l.371.334Zm-.498 2.959a.5.5 0 1 0-1 0h1Zm-6.49.082h-.5h.5Zm0 .959h.5h-.5Zm-6.99 7V12a.5.5 0 0 0-.278.916L.5 12.5Zm.998-11l.469-.175a.5.5 0 0 0-.916-.048l.447.223Zm3.994 9l.354.353a.5.5 0 0 0-.195-.827l-.159.474Zm7.224-8.027l-.37.336l.18.199l.265-.04l-.075-.495Zm1.264-.94c.051.778.003 1.25-.123 1.606c-.122.345-.336.629-.723 1l.692.722c.438-.42.776-.832.974-1.388c.193-.546.232-1.178.177-2.006l-.998.066Zm0 3.654V4.46h-1v.728h1Zm-6.99-.646V5.5h1v-.959h-1Zm0 .959V6h1v-.5h-1ZM10.625 1a3.539 3.539 0 0 0-3.537 3.541h1A2.539 2.539 0 0 1 10.526 2V1Zm2.454 4.187C12.98 9.503 9.487 13 5.18 13v1c4.86 0 8.8-3.946 8.8-8.813h-1ZM1.03 1.675C1.574 3.127 3.614 6 7.49 6V5C4.174 5 2.421 2.54 1.966 1.325l-.937.35Zm.021-.398C.004 3.373-.157 5.407.604 7.139c.759 1.727 2.392 3.055 4.73 3.835l.317-.948c-2.155-.72-3.518-1.892-4.132-3.29c-.612-1.393-.523-3.11.427-5.013l-.895-.446Zm4.087 8.87C4.536 10.75 2.726 12 .5 12v1c2.566 0 4.617-1.416 5.346-2.147l-.708-.706Zm7.949-8.009A3.445 3.445 0 0 0 10.526 1v1c.721 0 1.37.311 1.82.809l.74-.671Zm-.296.83a3.513 3.513 0 0 0 2.06-1.134l-.744-.668a2.514 2.514 0 0 1-1.466.813l.15.989ZM.222 12.916C1.863 14.01 3.583 14 5.18 14v-1c-1.63 0-3.048-.011-4.402-.916l-.556.832Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="pinterest" viewBox="0 0 15 15">
                <path fill="none" stroke="currentColor"
                      d="m4.5 13.5l3-7m-3.236 3a2.989 2.989 0 0 1-.764-2V7A3.5 3.5 0 0 1 7 3.5h1A3.5 3.5 0 0 1 11.5 7v.5a3 3 0 0 1-3 3a2.081 2.081 0 0 1-1.974-1.423L6.5 9m1 5.5a7 7 0 1 1 0-14a7 7 0 0 1 0 14Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="youtube" viewBox="0 0 15 15">
                <path fill="currentColor"
                      d="m1.61 12.738l-.104.489l.105-.489Zm11.78 0l.104.489l-.105-.489Zm0-10.476l.104-.489l-.105.489Zm-11.78 0l.106.489l-.105-.489ZM6.5 5.5l.277-.416A.5.5 0 0 0 6 5.5h.5Zm0 4H6a.5.5 0 0 0 .777.416L6.5 9.5Zm3-2l.277.416a.5.5 0 0 0 0-.832L9.5 7.5ZM0 3.636v7.728h1V3.636H0Zm15 7.728V3.636h-1v7.728h1ZM1.506 13.227c3.951.847 8.037.847 11.988 0l-.21-.978a27.605 27.605 0 0 1-11.568 0l-.21.978ZM13.494 1.773a28.606 28.606 0 0 0-11.988 0l.21.978a27.607 27.607 0 0 1 11.568 0l.21-.978ZM15 3.636c0-.898-.628-1.675-1.506-1.863l-.21.978c.418.09.716.458.716.885h1Zm-1 7.728a.905.905 0 0 1-.716.885l.21.978A1.905 1.905 0 0 0 15 11.364h-1Zm-14 0c0 .898.628 1.675 1.506 1.863l.21-.978A.905.905 0 0 1 1 11.364H0Zm1-7.728c0-.427.298-.796.716-.885l-.21-.978A1.905 1.905 0 0 0 0 3.636h1ZM6 5.5v4h1v-4H6Zm.777 4.416l3-2l-.554-.832l-3 2l.554.832Zm3-2.832l-3-2l-.554.832l3 2l.554-.832Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="dribble" viewBox="0 0 15 15">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      d="M4.839 1.024c3.346 4.041 5.096 7.922 5.704 12.782M.533 6.82c5.985-.138 9.402-1.083 11.97-4.216M2.7 12.594c3.221-4.902 7.171-5.65 11.755-4.293M14.5 7.5a7 7 0 1 0-14 0a7 7 0 0 0 14 0Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="calendar" viewBox="0 0 24 24">
                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <rect width="20" height="18" x="2" y="4" rx="4" />
                    <path d="M8 2v4m8-4v4M2 10h20" />
                </g>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="shopping-bag" viewBox="0 0 24 24">
                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path d="M3.977 9.84A2 2 0 0 1 5.971 8h12.058a2 2 0 0 1 1.994 1.84l.803 10A2 2 0 0 1 18.833 22H5.167a2 2 0 0 1-1.993-2.16l.803-10Z" />
                    <path d="M16 11V6a4 4 0 0 0-4-4v0a4 4 0 0 0-4 4v5" />
                </g>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="gift" viewBox="0 0 24 24">
                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <rect width="18" height="14" x="3" y="8" rx="2" />
                    <path d="M12 5a3 3 0 1 0-3 3m6 0a3 3 0 1 0-3-3m0 0v17m9-7H3" />
                </g>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="arrow-cycle" viewBox="0 0 24 24">
                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path d="M22 12c0 6-4.39 10-9.806 10C7.792 22 4.24 19.665 3 16m-1-4C2 6 6.39 2 11.806 2C16.209 2 19.76 4.335 21 8" />
                    <path d="m7 17l-4-1l-1 4M17 7l4 1l1-4" />
                </g>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="link" viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M12 19a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm5 0a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm0-4a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm-5 0a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm7-12h-1V2a1 1 0 0 0-2 0v1H8V2a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3Zm1 17a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-9h16Zm0-11H4V6a1 1 0 0 1 1-1h1v1a1 1 0 0 0 2 0V5h8v1a1 1 0 0 0 2 0V5h1a1 1 0 0 1 1 1ZM7 15a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm0 4a1 1 0 1 0-1-1a1 1 0 0 0 1 1Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="arrow-right" viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M17.92 11.62a1 1 0 0 0-.21-.33l-5-5a1 1 0 0 0-1.42 1.42l3.3 3.29H7a1 1 0 0 0 0 2h7.59l-3.3 3.29a1 1 0 0 0 0 1.42a1 1 0 0 0 1.42 0l5-5a1 1 0 0 0 .21-.33a1 1 0 0 0 0-.76Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="category" viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M19 5.5h-6.28l-.32-1a3 3 0 0 0-2.84-2H5a3 3 0 0 0-3 3v13a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3v-10a3 3 0 0 0-3-3Zm1 13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-13a1 1 0 0 1 1-1h4.56a1 1 0 0 1 .95.68l.54 1.64a1 1 0 0 0 .95.68h7a1 1 0 0 1 1 1Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="calendar" viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M19 4h-2V3a1 1 0 0 0-2 0v1H9V3a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3Zm1 15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-7h16Zm0-9H4V7a1 1 0 0 1 1-1h2v1a1 1 0 0 0 2 0V6h6v1a1 1 0 0 0 2 0V6h2a1 1 0 0 1 1 1Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="heart" viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M20.16 4.61A6.27 6.27 0 0 0 12 4a6.27 6.27 0 0 0-8.16 9.48l7.45 7.45a1 1 0 0 0 1.42 0l7.45-7.45a6.27 6.27 0 0 0 0-8.87Zm-1.41 7.46L12 18.81l-6.75-6.74a4.28 4.28 0 0 1 3-7.3a4.25 4.25 0 0 1 3 1.25a1 1 0 0 0 1.42 0a4.27 4.27 0 0 1 6 6.05Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="plus" viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M19 11h-6V5a1 1 0 0 0-2 0v6H5a1 1 0 0 0 0 2h6v6a1 1 0 0 0 2 0v-6h6a1 1 0 0 0 0-2Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="minus" viewBox="0 0 24 24">
                <path fill="currentColor" d="M19 11H5a1 1 0 0 0 0 2h14a1 1 0 0 0 0-2Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="cart" viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M8.5 19a1.5 1.5 0 1 0 1.5 1.5A1.5 1.5 0 0 0 8.5 19ZM19 16H7a1 1 0 0 1 0-2h8.491a3.013 3.013 0 0 0 2.885-2.176l1.585-5.55A1 1 0 0 0 19 5H6.74a3.007 3.007 0 0 0-2.82-2H3a1 1 0 0 0 0 2h.921a1.005 1.005 0 0 1 .962.725l.155.545v.005l1.641 5.742A3 3 0 0 0 7 18h12a1 1 0 0 0 0-2Zm-1.326-9l-1.22 4.274a1.005 1.005 0 0 1-.963.726H8.754l-.255-.892L7.326 7ZM16.5 19a1.5 1.5 0 1 0 1.5 1.5a1.5 1.5 0 0 0-1.5-1.5Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="check" viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M18.71 7.21a1 1 0 0 0-1.42 0l-7.45 7.46l-3.13-3.14A1 1 0 1 0 5.29 13l3.84 3.84a1 1 0 0 0 1.42 0l8.16-8.16a1 1 0 0 0 0-1.47Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="trash" viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M10 18a1 1 0 0 0 1-1v-6a1 1 0 0 0-2 0v6a1 1 0 0 0 1 1ZM20 6h-4V5a3 3 0 0 0-3-3h-2a3 3 0 0 0-3 3v1H4a1 1 0 0 0 0 2h1v11a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8h1a1 1 0 0 0 0-2ZM10 5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v1h-4Zm7 14a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V8h10Zm-3-1a1 1 0 0 0 1-1v-6a1 1 0 0 0-2 0v6a1 1 0 0 0 1 1Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="star-outline" viewBox="0 0 15 15">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      d="M7.5 9.804L5.337 11l.413-2.533L4 6.674l2.418-.37L7.5 4l1.082 2.304l2.418.37l-1.75 1.793L9.663 11L7.5 9.804Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="star-solid" viewBox="0 0 15 15">
                <path fill="currentColor"
                      d="M7.953 3.788a.5.5 0 0 0-.906 0L6.08 5.85l-2.154.33a.5.5 0 0 0-.283.843l1.574 1.613l-.373 2.284a.5.5 0 0 0 .736.518l1.92-1.063l1.921 1.063a.5.5 0 0 0 .736-.519l-.373-2.283l1.574-1.613a.5.5 0 0 0-.283-.844L8.921 5.85l-.968-2.062Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="search" viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="user" viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M15.71 12.71a6 6 0 1 0-7.42 0a10 10 0 0 0-6.22 8.18a1 1 0 0 0 2 .22a8 8 0 0 1 15.9 0a1 1 0 0 0 1 .89h.11a1 1 0 0 0 .88-1.1a10 10 0 0 0-6.25-8.19ZM12 12a4 4 0 1 1 4-4a4 4 0 0 1-4 4Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="close" viewBox="0 0 15 15">
                <path fill="currentColor"
                      d="M7.953 3.788a.5.5 0 0 0-.906 0L6.08 5.85l-2.154.33a.5.5 0 0 0-.283.843l1.574 1.613l-.373 2.284a.5.5 0 0 0 .736.518l1.92-1.063l1.921 1.063a.5.5 0 0 0 .736-.519l-.373-2.283l1.574-1.613a.5.5 0 0 0-.283-.844L8.921 5.85l-.968-2.062Z" />
            </symbol>
        </defs>
    </svg>

    <div class="preloader text-white fs-6 text-uppercase overflow-hidden"></div>

    <div class="search-popup">
        <div class="search-popup-container">
            <form role="search" method="get" class="form-group position-relative" action="">
                <input type="search" id="search-form" class="form-control border-0 border-bottom"
                       placeholder="Nhập và nhấn enter" value="" name="s" />
                <button type="submit" class="search-submit border-0 position-absolute bg-white"
                        style="top: 15px; right: 15px;">
                    <svg class="search" width="24" height="24">
                        <use xlink:href="#search"></use>
                    </svg>
                </button>
                <span id="record" style="top: 15px; right: 50px; cursor: pointer;">
                    <i class="bi bi-mic"></i>
                </span>
                <span id="clear-icon" style="display: none; cursor: pointer; position: absolute; top: 15px; right: 100px;">
                    ✖
                </span>
            </form>

            <h5 class="cat-list-title">Duyệt theo danh mục</h5>

            <ul class="cat-list">
                <li class="cat-list-item mb-3">
                    <a href="#" title="Trang Điểm">Trang Điểm</a>
                </li>
                <li class="cat-list-item mb-3">
                    <a href="#" title="Chăm Sóc Da">Chăm Sóc Da</a>
                </li>
                <li class="cat-list-item mb-3">
                    <a href="#" title="Sản Phẩm Tắm">Sản Phẩm Tắm</a>
                </li>
                <li class="cat-list-item mb-3">
                    <a href="#" title="Chăm Sóc Tóc">Chăm Sóc Tóc</a>
                </li>
                <li class="cat-list-item mb-3">
                    <a href="#" title="Chăm Sóc Cơ Thể">Chăm Sóc Cơ Thể</a>
                </li>
                <li class="cat-list-item mb-3">
                    <a href="#" title="Làm Móng">Làm Móng</a>
                </li>
                <li class="cat-list-item mb-3">
                    <a href="#" title="Dụng Cụ & Cọ">Dụng Cụ & Cọ</a>
                </li>
            </ul>

        </div>
    </div>



    <nav class="navbar navbar-expand-lg text-white text-uppercase fs-6 py-3 px-0 px-md-3 border-bottom border-light align-items-center fixed-top border-opacity-10">
        <div class="container-fluid">
            <div class="row justify-content-between align-items-center w-100 py-2">

                <div class="col-auto">
                    <a class="navbar-brand" href="index.html">
                        <img src="images/main-logo.png" alt="logo">
                    </a>
                </div>

                <div class="col-auto">
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="offcanvas offcanvas-end homever2 bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Menu</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Đóng"></button>
                        </div>

                        <div class="offcanvas-body">
                            <ul class="navbar-nav justify-content-end flex-grow-1 gap-5 pe-3">

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdownShop" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cửa Hàng</a>
                                    <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownShop">
                                        <li>
                                            <a href="shop-sidebar.html" class="dropdown-item item-anchor">Cửa Hàng</a>
                                        </li>
                                        <li>
                                            <a href="single-product.html" class="dropdown-item item-anchor">Chi tiết sản phẩm</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdownPages" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Trang</a>
                                    <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownPages">
                                        <li>
                                            <a href="cart.html" class="dropdown-item item-anchor">Giỏ Hàng</a>
                                        </li>
                                        <li>
                                            <a href="checkout.html" class="dropdown-item item-anchor">Thanh Toán</a>
                                        </li>
                                        <li>
                                            <a href="my-account.html" class="dropdown-item item-anchor">Đăng Nhập</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-auto">
                    <ul class="list-unstyled d-flex m-0 mt-3 mt-xl-0">
                        <li>
                            <a href="wishlist.html" class="text-uppercase mx-3">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use xlink:href="#heart"></use>
                                </svg>
                                <span class="wishlist-count">(0)</span>
                            </a>
                        </li>
                        <li>
                            <a href="cart.html" class="text-uppercase mx-3">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use xlink:href="#cart"></use>
                                </svg>
                                <span class="cart-count">(0)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#like" class="mx-3">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use xlink:href="#user"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="search-box">
                            <a href="#" class="search-button mx-3">
                                <svg width="24" height="24" viewBox="0 0 24 24" class="search">
                                    <use xlink:href="#search"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>

    <!-- Thêm video background -->
    <video id="background-video" class="background-video" autoplay loop playsinline>
        <source src="@Url.Content("~/videos/Dabin.mp4")" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <!-- Nội dung trang -->
    <br>
    <br>
    <div class="cont" style="margin-top:150px; margin-bottom: 300px; height: 800px">
        <div class="form sign-in">
            <h1 class="tangerine-bold" style="font-size: 8rem; font-weight: bold;">Login</h1>
            <br>
            <form id="loginForm">
                <label>
                    <span class="HienThi">Username / Email</span>
                    <input asp-for="EmailOrUsername" id="EmailOrUsername" />
                    <span id="errorEmailOrUsername" class="text-danger"></span> 
                </label>

                <label>
                    <span class="HienThi">Password</span>
                    <input asp-for="Password" type="password" id="Password" />
                    <span id="errorPassword" class="text-danger"></span> 
                </label>

                <p class="forgot-pass" style="color:black">Forgot password?</p>
                <button type="button" class="submit" onclick="submitLogin()">Sign In</button>
                <br>
                <p style="text-align: center">or</p>
                <div id="my-signin2"></div>
                <h3 id="Logined"></h3>
                <script>
                    function onSuccess(googleUser) {
                        const profile = googleUser.getBasicProfile();
                        const name = profile.getName();
                        const email = profile.getEmail();
                        document.getElementById("Logined").innerHTML = `Đăng nhập thành công! Tên: ${name}, Email: ${email}`;
                    }

                    function onFailure(error) {
                        console.log(error);
                        if (error.error === 'popup_closed_by_user') {
                            document.getElementById("errorMessages").innerText = "Bạn đã đóng cửa sổ đăng nhập. Vui lòng thử lại.";
                        } else {
                            document.getElementById("errorMessages").innerText = "Đăng nhập thất bại. Vui lòng thử lại.";
                        }
                    }
                    function renderButton() {
                        gapi.signin2.render('my-signin2', {
                            'scope': 'profile email',
                            'width': 240,
                            'height': 50,
                            'longtitle': true,
                            'theme': 'dark',
                            'onsuccess': onSuccess,
                            'onfailure': onFailure
                        });
                    }
                </script>
                <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
                <div id="errorMessages" class="text-danger" style="text-align; center"></div>
            </form>
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h3 class="tangerine-bold" style="font-size: 2.2rem; color: white">Don't have an account?</h3>
                </div>
                <div class="img__text m--in">
                    <h3 class="tangerine-bold" style="font-size: 2.2rem; color: white">If you already have an account, just Login.</h3>

                </div>
                <div class="img__btn">
                    <span class="m--up">Sign Up</span>
                    <span class="m--in">Login</span>
                </div>
            </div>
            <form id="signUpForm">
                <div class="form sign-up" style="background: rgba(255, 255, 255, 0.6)">
                    <h1 class="tangerine-bold" style="font-size: 8rem; font-weight: bold;">Sign Up</h1>

                    <label>
                        <span class="HienThi">Username</span>
                        <input type="text" id="SignUpUsername" />
                        <span id="errorSignUpUsername" class="text-danger"></span>
                    </label>

                    <label>
                        <span class="HienThi">Email</span>
                        <input type="email" id="SignUpEmail" />
                        <span id="errorSignUpEmail" class="text-danger"></span>
                    </label>

                    <label>
                        <span class="HienThi">Password</span>
                        <input type="password" id="SignUpPassword" />
                        <span id="errorSignUpPassword" class="text-danger"></span>
                    </label>

                    <label>
                        <span class="HienThi">Re-Enter Password</span>
                        <input type="password" id="SignUpConfirmPassword" />
                        <span id="errorSignUpConfirmPassword" class="text-danger"></span>
                    </label>

                    <button type="button" class="submit" onclick="submitSignUp()">Sign Up</button>

                    <!-- Display common errors for sign-up here -->
                    <div id="signUpErrorMessages" class="text-danger" style="text-align:center"></div>
                </div>
            </form>
              
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Thông Tin Bổ Sung</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="createCustomerForm" method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <img src="../assets/img/avatars/1.png" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar" />
                            <div class="button-wrapper">
                                <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                    <span class="d-none d-sm-block" style="color:white">Thêm Ảnh</span>
                                    <i class="bx bx-upload d-block d-sm-none"></i>
                                    <input type="file" id="upload" name="Anh" class="account-file-input" hidden accept="image/png, image/jpeg" />
                                </label>
                                <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <h5 class="card-header">Thông Tin Khách Hàng</h5>
                        <hr class="my-0" />
                        <div class="card-body">
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label>Your Name: </label>
                                    <input id="TenKhachHang" name="TenKhachHang" type="text" class="form-control" />
                                    <span id="errorTenKhachHang" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Phone Number</label>
                                    <input id="SoDienThoai" name="SoDienThoai" type="string" class="form-control" />
                                    <span id="errorSoDienThoai" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Địa Chỉ</label>
                                    <input id="DiaChi" name="DiaChi" type="text" class="form-control" />
                                    <span id="errorDiaChi" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Giới Tính</label>
                                    <select id="GioiTinh" name="GioiTinh" class="form-control">
                                        <option value="Nam">Nam</option>
                                        <option value="Nữ">Nữ</option>
                                    </select>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Căn Cước</label>
                                    <input id="Cccd" name="Cccd" type="text" class="form-control" />
                                    <span id="errorCccd" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Ngày Sinh</label>
                                    <input type="date" id="NgaySinh" name="NgaySinh" class="form-control" />
                                    <span id="errorNgaySinh" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <button type="submit" class="btn btn-primary me-2">Thêm Thông Tin</button>
                                <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div style="width: 100%; height: 100%;">
        <div id="tawk-bubble-container" role="button" tabindex="0" class="tawk-bubble-container" onclick="toggleChatBox()">
            <div class="tawk-icon-right">
                <i role="button" tabindex="0" data-text="Đóng" aria-label="Đóng" class="tawk-icon tawk-icon-close tawk-icon-small"></i>
                <img src="https://waifubait.moe/cdn/shop/products/RemProof_grande.png?v=1552807117" alt="Thu hút chú ý đến tính năng trò chuyện" style="max-width: 124px;height: 100%;">
            </div>
        </div>
        <div id="chat-box" class="chat-box" style="display: none;">
            <div class="chat-header">Hộp Thoại Hỗ Trợ</div>
            <div class="chat-body" id="chat-body">
                <div class="chat-message">Chào Chủ Nhân! Chủ nhân muốn Rem hỗ trợ gì ạ?</div>
            </div>
            <div class="chat-input-container">
                <input type="text" id="user-input" placeholder="Nhập câu hỏi..." class="chat-input">
                <button onclick="sendMessage()" class="chat-send-button">Gửi</button>
            </div>
        </div>
    </div>
    <div id="successNotification">Tạo tài khoản thành công!</div>
    <script>
        const myModal = document.getElementById('myModal');
        myModal.addEventListener('hidden.bs.modal', function (event) {
            const confirmClose = confirm("Bạn có muốn bỏ qua bước này không?");

            if (!confirmClose) {
                const modalInstance = bootstrap.Modal.getInstance(myModal);
                modalInstance.show(); 
            } else {
                // Gọi AJAX để tạo khách hàng mặc định
                $.ajax({
                    url: '/LoginAndSignUp/CreateDefaultCustomer', 
                    type: 'POST',
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                            window.location.href = "Home"; 
                        }
                    },
                    error: function () {
                        alert("Đã có lỗi xảy ra.");
                    }
                });
            }
        });
    </script>

    <script>
        const searchForm = document.getElementById("search-form");
        const clearIcon = document.getElementById("clear-icon");

        searchForm.addEventListener("input", function () {
            if (searchForm.value.length > 0) {
                clearIcon.style.display = "inline";
            } else {
                clearIcon.style.display = "none";
            }
        });

        clearIcon.addEventListener("click", function () {
            searchForm.value = "";
            clearIcon.style.display = "none";
            searchForm.focus();
        });
    </script>

    <script>
        const video = document.getElementById("background-video");
        video.pause();
        document.body.addEventListener("click", function () {
            video.volumn = "0.05";
            video.currentTime = 0;
            video.muted = false;
            video.play();

            document.body.removeEventListener("click", arguments.callee);
        });
    </script>
    <script>
        document.querySelector('.img__btn').addEventListener('click', function () {
            document.querySelector('.cont').classList.toggle('s--signup');
        });
    </script>
    <script src="js/jquery.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/SmoothScroll.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="js/script.js"></script>
    <script>
                function toggleChatBox() {
                    const chatBox = document.getElementById("chat-box");
                    chatBox.style.display = chatBox.style.display === "none" ? "block" : "none";
                }

                async function sendMessage() {
                    const userInput = document.getElementById("user-input").value;
                    const chatBody = document.getElementById("chat-body");

                    if (userInput.trim() !== "") {
                        const userMessage = document.createElement("div");
                        userMessage.className = "chat-message";
                        userMessage.textContent = "Chủ nhân: " + userInput;
                        chatBody.appendChild(userMessage);

                        const waitingMessage = document.createElement("div");
                        waitingMessage.className = "chat-message chat-message-waiting";
                        waitingMessage.textContent = "Rem-Chan: Đang xử lý...";
                        chatBody.appendChild(waitingMessage);
                         console.log(userInput);
                        // Send the user input to the backend
                       const response = await fetch('@Url.Action("TraLoi", "Home")', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(userInput)  
        });
                        const data = await response.json();
                        chatBody.removeChild(waitingMessage);

                        const responseMessage = document.createElement("div");
                        responseMessage.className = "chat-message";
                        responseMessage.textContent = "Rem: " + data.response;
                        chatBody.appendChild(responseMessage);

                        document.getElementById("user-input").value = "";
                        chatBody.scrollTop = chatBody.scrollHeight;
                    }
                }
    </script>
    <script>
        const recordBtn = document.getElementById("record");
        const searchInput = document.getElementById("search-form");

        let SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        let recognition;
        let recording = false;

        function speechToText() {
            try {
                recognition = new SpeechRecognition();
                recognition.lang = "vi";
                recognition.interimResults = true;
                recording = true;

                recognition.start();
                recordBtn.classList.add("recording");

                recognition.onresult = (event) => {
                    const speechResult = event.results[0][0].transcript;
                    if (event.results[0].isFinal) {
                        searchInput.value = speechResult;
                    } else {
                        searchInput.placeholder = "Đang nghe...";
                    }
                };

                recognition.onspeechend = () => {
                    stopRecording();
                };

                recognition.onerror = (event) => {
                    stopRecording();
                    if (event.error === "no-speech") {
                        alert("Không phát hiện giọng nói, vui lòng thử lại.");
                    } else if (event.error === "audio-capture") {
                        alert("Không tìm thấy micro.");
                    } else if (event.error === "not-allowed") {
                        alert("Không có quyền sử dụng micro.");
                    } else {
                        alert("Lỗi: " + event.error);
                    }
                };
            } catch (error) {
                recording = false;
                console.error("Lỗi khi khởi tạo nhận dạng giọng nói:", error);
            }
        }

        recordBtn.addEventListener("click", () => {
            if (!recording) {
                speechToText();
            } else {
                stopRecording();
            }
        });

        function stopRecording() {
            recognition.stop();
            recording = false;
            searchInput.placeholder = "Nhập và nhấn enter";
            recordBtn.classList.remove("recording");
            recordBtn.innerHTML = '<i class="bi bi-mic"></i>';
        }

    </script>

    <script>
        function submitLogin() {

            $('#errorEmailOrUsername').empty();
            $('#errorPassword').empty();
            $('#errorMessages').empty();

            $.ajax({
                url: '@Url.Action("Index", "LoginAndSignUp")',
                type: 'POST',
                dataType: "json",
                data: {
                    EmailOrUsername: $('#EmailOrUsername').val(),
                    Password: $('#Password').val()
                },
                success: function (response) {
                    if (response.success) {
                        window.location.href = "Home";
                    } else {
                        if (response.errors) {
                            if (response.errors.EmailOrUsername) {
                                $('#errorEmailOrUsername').html(response.errors.EmailOrUsername);
                            }
                            if (response.errors.Password) {
                                $('#errorPassword').html(response.errors.Password);
                            }
                        } else if (response.message) {
                            $('#errorMessages').append('<p>' + response.message + '</p>');
                        }
                    }
                },
                error: function () {
                    $('#errorMessages').append('<p>Có lỗi xảy ra, vui lòng thử lại sau.</p>');        // Clear previous error messages for each field
                }
            });
        }
        function submitSignUp() {
    
            $('#errorSignUpUsername').empty();
            $('#errorSignUpEmail').empty();
            $('#errorSignUpPassword').empty();
            $('#errorSignUpConfirmPassword').empty();
            $('#signUpErrorMessages').empty();

            $.ajax({
                url: '@Url.Action("SignUp", "LoginAndSignUp")',
                type: 'POST',
                dataType: "json",
                data: {
                    TenTaiKhoan: $('#SignUpUsername').val(),
                    Email: $('#SignUpEmail').val(),
                    Password: $('#SignUpPassword').val(),
                    ConfirmPassword: $('#SignUpConfirmPassword').val()
                },
                success: function (response) {
                    if(response.success) {

                        const modalElement = $('#myModal');

                        modalElement.addClass('fade-in');
                        modalElement.modal('show');
                        setTimeout(() => {
                            modalElement.addClass('show-opacity');
                        }, 50);
                        const notification = $('#successNotification');
                        notification.css('display', 'block').css('opacity', '1'); 
                        setTimeout(() => {
                            notification.css('opacity', '0'); 
                            setTimeout(() => {
                                notification.css('display', 'none'); 
                            }, 500); 
                        }, 3000);
                    }
                    else if (response.errors) {

                        if (response.errors.TenTaiKhoan) {
                            $('#errorSignUpUsername').html(response.errors.TenTaiKhoan);
                        }
                        if (response.errors.Email) {
                            $('#errorSignUpEmail').html(response.errors.Email);
                        }
                        if (response.errors.Password) {
                            $('#errorSignUpPassword').html(response.errors.Password);
                        }
                        if (response.errors.ConfirmPassword) {
                            $('#errorSignUpConfirmPassword').html(response.errors.ConfirmPassword);
                        }
                    } else if (response.message) {
                        $('#signUpErrorMessages').append('<p>' + response.message + '</p>');
                    }
                },
                error: function () {
                    $('#signUpErrorMessages').append('<p>Something went wrong. Please try again later.</p>');
                }
            });
        }

    </script>
    <script>
        $(document).ready(function () {
            $('#createCustomerForm').submit(function (e) {
                e.preventDefault(); 

                $('#errorTenKhachHang').empty();
                $('#errorSoDienThoai').empty();
                $('#errorDiaChi').empty();
                $('#errorCccd').empty();
                $('#errorNgaySinh').empty();


                var formData = new FormData(this);

                $.ajax({
                    url: '@Url.Action("CreateCustomer", "LoginAndSignUp")',
                    type: 'POST',
                    data: formData,
                    processData: false, 
                    contentType: false, 
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                        } else {
                            // Display errors if validation fails
                            if (response.errors.TenKhachHang) {
                                $('#errorTenKhachHang').html(response.errors.TenKhachHang);
                            }
                            if (response.errors.SoDienThoai) {
                                $('#errorSoDienThoai').html(response.errors.SoDienThoai);
                            }
                            if (response.errors.DiaChi) {
                                $('#errorDiaChi').html(response.errors.DiaChi);
                            }
                            if (response.errors.Cccd) {
                                $('#errorCccd').html(response.errors.Cccd);
                            }
                            if (response.errors.NgaySinh) {
                                $('#errorNgaySinh').html(response.errors.NgaySinh);
                            }
                        }
                    },
                    error: function () {
                        alert('Có lỗi xảy ra. Vui lòng thử lại sau.');
                    }
                });
            });
        });
    </script>
    <script src="@Url.Content("~/assets/vendor/libs/jquery/jquery.js")"></script>
    <script src="@Url.Content("~/assets/vendor/libs/popper/popper.js")"></script>
    <script src="@Url.Content("~/assets/vendor/js/bootstrap.js")"></script>
    <script src="@Url.Content("~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js")"></script>

    <script src="@Url.Content("~/assets/vendor/js/menu.js")"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="@Url.Content("~/assets/js/main.js")"></script>

    <!-- Page JS -->
    <script src="@Url.Content("~/assets/js/pages-account-settings-account.js")"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>
<style>
    .background-video, .background-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -9999;
    }
</style>
<style>
        *,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

    .fade-in {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .show-opacity {
        opacity: 1;
    }
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #ffffff;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

input,
button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.tip {
    font-size: 20px;
    margin: 40px auto 50px;
    text-align: center;
}

.cont {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 750px;
    margin: 0 auto 100px;
    background: #fff;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.15), inset -10px -10px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 15px rgba(70, 70, 70, 0.15);
}

.form {
    position: relative;
    width: 640px;
    height: 100%;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
    padding: 50px 30px 0;
    background-color: #fef4f3;
}

.sub-cont {
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.cont.s--signup .sub-cont {
    -webkit-transform: translate3d(-640px, 0, 0);
    transform: translate3d(-640px, 0, 0);
}

button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
        background: rgba(140, 137, 137, 0.6);
 }

.img:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url("ext.jpg");
    opacity: .8;
    background-size: cover;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
            background: rgba(140, 137, 137, 0.6);
}

.img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
            background: rgba(140, 137, 137, 0.6);
}

.cont.s--signup .img:before {
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
        background: rgba(140, 137, 137, 0.6);
}

.img__text {
    z-index: 2;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    text-align: center;
    align-items: center;

    color: #000000;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img__text h2 {
    margin-bottom: 10px;
    font-weight: normal;
}

.img__text p {
    font-size: 14px;
    line-height: 1.5;
}

.cont.s--signup .img__text.m--up {
    -webkit-transform: translateX(520px);
    transform: translateX(520px);
}

.img__text.m--in {
    -webkit-transform: translateX(-520px);
    transform: translateX(-520px);
}

.cont.s--signup .img__text.m--in {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.img__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.img__btn:after {
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
}

.img__btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;
}

.img__btn span.m--in {
    -webkit-transform: translateY(-72px);
    transform: translateY(-72px);
}

.cont.s--signup .img__btn span.m--in {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.cont.s--signup .img__btn span.m--up {
    -webkit-transform: translateY(72px);
    transform: translateY(72px);
}
h1{
    text-align: center;
}
h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
}
h3{
        transform: translateY(-150px);
}
label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: left;
}

label span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
}

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: left;
}

.forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #cfcfcf;
}

.submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #d4af7a;
    text-transform: uppercase;
}

.fb-btn {
    border: 2px solid #d3dae9;
    color: #8fa1c7;
}

.fb-btn span {
    font-weight: bold;
    color: #455a81;
}

.sign-in {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.cont.s--signup .sign-in {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s;
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}

.sign-up {
    -webkit-transform: translate3d(-900px, 0, 0);
    transform: translate3d(-900px, 0, 0);
}

.cont.s--signup .sign-up {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

    </style>
<style>
    #tawk-bubble-container {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 9999;
        cursor: pointer;
    }

    /* Định dạng cho hộp thoại */
    .chat-box {
        position: fixed;
        bottom: 110px;
        right: 20px;
        width: 500px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        z-index: 10000;
        font-family: Arial, sans-serif;
        width: 500px;
        flex-direction: column;
         overflow: hidden;
    }

    .chat-header {
        padding: 10px;
        font-weight: bold;
        text-align: center;
        background-color: #0078d4;
        color: #fff;
        border-radius: 8px 8px 0 0;
    }

    .chat-body {
        max-height: 150px;
        overflow-y: auto;
        padding: 10px;
        font-size: 14px;
        overflow-y: auto;
          flex: 1;
    }

    .chat-message {
        margin-bottom: 8px;
    }

    .chat-input-container {
        display: flex;
        padding: 10px;
        border-top: 1px solid #ddd;
    }

    .chat-input {
        flex: 1;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .chat-send-button {
        padding: 5px 10px;
        margin-left: 5px;
        background-color: #0078d4;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;

    } 
    .open-sans-<uniquifier > {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }

    .cont {
        background: rgba(255, 255, 255, 0.6); 
    }

    .form {
        background: rgba(254, 244, 243, 0.6); 
    }
    .HienTion: opacity 0.5s ease-in-out;
    }

    .show-opacity {
        opacity: 1;
    }
</style>
<style>
    #loginForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        max-width: 400px;
        margin: auto;
    }

    #my-signin2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #Logined {
        font-size: 1.2em;
        color: green;
    }

    #errorMessages {
        color: red;
        margin-top: 10px;
        text-align: center;
    }
    .HienThi{
        color:black;
    }
</style>

