@model ASM_GS.ViewModels.ShopViewModel

<div class="py-5" >
    <div class="container" style="padding-top: 200px;">
        <div class="row flex-md-row-reverse g-5">
            <main class="main-content col-md-9">
                <!-- Bộ lọc -->
                <div class="col-md-3">
                    <form method="get" class="input-group">
                        <select class="form-select border-0" name="filterBy" onchange="this.form.submit()">
                            @if (Model.FilterBy == null)
                            {
                                <option value="" selected>Tất cả</option>
                            }
                            else
                            {
                                <option value="">Tất cả</option>
                            }

                            @if (Model.FilterBy == "Price")
                            {
                                <option value="Price" selected>Giá</option>
                            }
                            else
                            {
                                <option value="Price">Giá</option>
                            }

                            @if (Model.FilterBy == "Category")
                            {
                                <option value="Category" selected>Danh mục</option>
                            }
                            else
                            {
                                <option value="Category">Danh mục</option>
                            }

                            @if (Model.FilterBy == "Best Sellers")
                            {
                                <option value="Best Sellers" selected>Bán chạy</option>
                            }
                            else
                            {
                                <option value="Best Sellers">Bán chạy</option>
                            }

                            @if (Model.FilterBy == "New Arrivals")
                            {
                                <option value="New Arrivals" selected>Mới về</option>
                            }
                            else
                            {
                                <option value="New Arrivals">Mới về</option>
                            }
                        </select>
                    </form>
                </div>


                <!-- Danh sách sản phẩm -->
                <div class="row my-5">
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-md-4 mb-5 product-item">
                            <div class="image-holder position-relative">
                                <a href="@Url.Action("index", "Detail", new { id = product.MaSanPham })">
                                    <img src="@Url.Content(product.AnhSanPhams.FirstOrDefault()?.UrlAnh ?? "~/img/AnhSanPham/kcn1.jpg")" alt="Product Image" class="product-image img-fluid" />
                                </a>
                  
                                <a href="wishlist.html" class="btn-icon btn-wishlist">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </a>
                                <a href="cart.html" class="btn-icon btn-cart">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </a>
                                <div class="product-content">
                                    <h5 class="element-title text-uppercase fs-6 mt-3">
                                        <a href="@Url.Action("index", "Detail", new { id = product.MaSanPham })">@product.TenSanPham</a>
                                    </h5>
                                    <a href="#" class="text-decoration-none" data-after="Thêm vào giỏ hàng"><span>@product.Gia.ToString("N0") VND</span></a>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <!-- Phân trang -->
                <nav aria-label="Page navigation" class="d-flex justify-content-center mt-5">
                    <ul class="pagination">
                        @for (int i = 1; i <= (int)Math.Ceiling((double)Model.TotalItems / Model.PageSize); i++)
                        {
                            <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                                <a class="page-link" href="@Url.Action("Index", new { page = i, searchQuery = Model.SearchQuery, filterBy = Model.FilterBy })">@i</a>
                            </li>
                        }
                    </ul>
                </nav>
            </main>

            <!-- Sidebar -->
            <aside class="col-md-3">
                <div class="sidebar">
                    <div class="product-filter padding-small">
                        <div class="text-dark text-uppercase">Lọc theo:</div>
                        <div class="accordion" id="accordionExample">
                            <!-- Lọc theo giá -->
                            <div class="accordion-item">
                                <div class="accordion-header" id="heading-one">
                                    <button class="accordion-button py-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                                        <span class="accordion-title fs-3">Giá</span>
                                    </button>
                                </div>
                                <div id="collapse-one" class="accordion-collapse collapse show" aria-labelledby="heading-one">
                                    <div class="accordion-body">
                                        <a href="#">Dưới 10$ <span class="count">(80)</span></a>
                                        <a href="#">20$ - 40$ <span class="count">(90)</span></a>
                                        <a href="#">40$ - 50$ <span class="count">(150)</span></a>
                                        <a href="#">50$ - 60$ <span class="count">(70)</span></a>
                                    </div>
                                </div>
                            </div>

                            <!-- Lọc theo danh mục -->
                            <div class="accordion-item">
                                <div class="accordion-header" id="heading-two">
                                    <button class="accordion-button py-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-two" aria-expanded="true" aria-controls="collapse-two">
                                        <span class="accordion-title fs-3">Danh mục</span>
                                    </button>
                                </div>
                                <div id="collapse-two" class="accordion-collapse collapse show" aria-labelledby="heading-two">
                                    <div class="accordion-body">
                                        @foreach (var item in Model.DanhMuc)
                                        {
                                            <a href="@Url.Action("Index", new { filterBy = "Category", categoryId = item.MaDanhMuc })">
                                                @item.TenDanhMuc
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
