@{
    var sanPhamList2 = ViewData["SanPhamList2"] as List<ASM_GS.ViewModels.SearchingProduct>;
    var taiKhoanLogin = ViewData["Account"] ;
    var khachHangLogin = ViewData["Customer"] ;
    var LoginRoute = ViewData["RoutedFromLogin"];
}
@using Newtonsoft.Json
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
<title>Website bán mỹ phẩm GS</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="author" content="TemplatesJungle">
<meta name="keywords" content="ecommerce,fashion,store">
<meta name="description" content="Website bán mỹ phẩm GS">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="~/icomoon/icomoon.css">
<link rel="stylesheet" type="text/css" href="~/css/vendor.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<link rel="stylesheet" type="text/css" href="~/style.css">
<link rel="icon" type="image/x-icon" href="~/images/Enigma (1).png" style="height: 60px; width: 100px;" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Prata&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">



</head>

<body class="homepage">

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <defs>
        <symbol xmlns="http://www.w3.org/2000/svg" id="instagram" viewBox="0 0 15 15">
            <path fill="none" stroke="currentColor"
                    d="M11 3.5h1M4.5.5h6a4 4 0 0 1 4 4v6a4 4 0 0 1-4 4h-6a4 4 0 0 1-4-4v-6a4 4 0 0 1 4-4Zm3 10a3 3 0 1 1 0-6a3 3 0 0 1 0 6Z" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="facebook" viewBox="0 0 15 15">
            <path fill="none" stroke="currentColor"
                    d="M7.5 14.5a7 7 0 1 1 0-14a7 7 0 0 1 0 14Zm0 0v-8a2 2 0 0 1 2-2h.5m-5 4h5" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="twitter" viewBox="0 0 15 15">
            <path fill="currentColor"
                    d="m14.478 1.5l.5-.033a.5.5 0 0 0-.871-.301l.371.334Zm-.498 2.959a.5.5 0 1 0-1 0h1Zm-6.49.082h-.5h.5Zm0 .959h.5h-.5Zm-6.99 7V12a.5.5 0 0 0-.278.916L.5 12.5Zm.998-11l.469-.175a.5.5 0 0 0-.916-.048l.447.223Zm3.994 9l.354.353a.5.5 0 0 0-.195-.827l-.159.474Zm7.224-8.027l-.37.336l.18.199l.265-.04l-.075-.495Zm1.264-.94c.051.778.003 1.25-.123 1.606c-.122.345-.336.629-.723 1l.692.722c.438-.42.776-.832.974-1.388c.193-.546.232-1.178.177-2.006l-.998.066Zm0 3.654V4.46h-1v.728h1Zm-6.99-.646V5.5h1v-.959h-1Zm0 .959V6h1v-.5h-1ZM10.525 1a3.539 3.539 0 0 0-3.537 3.541h1A2.539 2.539 0 0 1 10.526 2V1Zm2.454 4.187C12.98 9.503 9.487 13 5.18 13v1c4.86 0 8.8-3.946 8.8-8.813h-1ZM1.03 1.675C1.574 3.127 3.614 6 7.49 6V5C4.174 5 2.421 2.54 1.966 1.325l-.937.35Zm.021-.398C.004 3.373-.157 5.407.604 7.139c.759 1.727 2.392 3.055 4.73 3.835l.317-.948c-2.155-.72-3.518-1.892-4.132-3.29c-.612-1.393-.523-3.11.427-5.013l-.895-.446Zm4.087 8.87C4.536 10.75 2.726 12 .5 12v1c2.566 0 4.617-1.416 5.346-2.147l-.708-.706Zm7.949-8.009A3.445 3.445 0 0 0 10.526 1v1c.721 0 1.37.311 1.82.809l.74-.671Zm-.296.83a3.513 3.513 0 0 0 2.06-1.134l-.744-.668a2.514 2.514 0 0 1-1.466.813l.15.989ZM.222 12.916C1.863 14.01 3.583 14 5.18 14v-1c-1.63 0-3.048-.011-4.402-.916l-.556.832Z" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="pinterest" viewBox="0 0 15 15">
            <path fill="none" stroke="currentColor"
                    d="m4.5 13.5l3-7m-3.236 3a2.989 2.989 0 0 1-.764-2V7A3.5 3.5 0 0 1 7 3.5h1A3.5 3.5 0 0 1 11.5 7v.5a3 3 0 0 1-3 3a2.081 2.081 0 0 1-1.974-1.423L6.5 9m1 5.5a7 7 0 1 1 0-14a7 7 0 0 1 0 14Z" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="youtube" viewBox="0 0 15 15">
            <path fill="currentColor"
                    d="m1.61 12.738l-.104.489l.105-.489Zm11.78 0l.104.489l-.105-.489Zm0-10.476l.104-.489l-.105.489Zm-11.78 0l.106.489l-.105-.489ZM6.5 5.5l.277-.416A.5.5 0 0 0 6 5.5h.5Zm0 4H6a.5.5 0 0 0 .777.416L6.5 9.5Zm3-2l.277.416a.5.5 0 0 0 0-.832L9.5 7.5ZM0 3.636v7.728h1V3.636H0Zm15 7.728V3.636h-1v7.728h1ZM1.506 13.227c3.951.847 8.037.847 11.988 0l-.21-.978a27.605 27.605 0 0 1-11.568 0l-.21.978ZM13.494 1.773a28.606 28.606 0 0 0-11.988 0l.21.978a27.607 27.607 0 0 1 11.568 0l.21-.978ZM15 3.636c0-.898-.628-1.675-1.506-1.863l-.21.978c.418.09.716.458.716.885h1Zm-1 7.728a.905.905 0 0 1-.716.885l.21.978A1.905 1.905 0 0 0 15 11.364h-1Zm-14 0c0 .898.628 1.675 1.506 1.863l.21-.978A.905.905 0 0 1 1 11.364H0Zm1-7.728c0-.427.298-.796.716-.885l-.21-.978A1.905 1.905 0 0 0 0 3.636h1ZM6 5.5v4h1v-4H6Zm.777 4.416l3-2l-.554-.832l-3 2l.554.832Zm3-2.832l-3-2l-.554.832l3 2l.554-.832Z" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="dribble" viewBox="0 0 15 15">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    d="M4.839 1.024c3.346 4.041 5.096 7.922 5.704 12.782M.533 6.82c5.985-.138 9.402-1.083 11.97-4.216M2.7 12.594c3.221-4.902 7.171-5.65 11.755-4.293M14.5 7.5a7 7 0 1 0-14 0a7 7 0 0 0 14 0Z" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="calendar" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <rect width="20" height="18" x="2" y="4" rx="4" />
                <path d="M8 2v4m8-4v4M2 10h20" />
            </g>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="shopping-bag" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M3.977 9.84A2 2 0 0 1 5.971 8h12.058a2 2 0 0 1 1.994 1.84l.803 10A2 2 0 0 1 18.833 22H5.167a2 2 0 0 1-1.993-2.16l.803-10Z" />
                <path d="M16 11V6a4 4 0 0 0-4-4v0a4 4 0 0 0-4 4v5" />
            </g>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="gift" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <rect width="18" height="14" x="3" y="8" rx="2" />
                <path d="M12 5a3 3 0 1 0-3 3m6 0a3 3 0 1 0-3-3m0 0v17m9-7H3" />
            </g>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="arrow-cycle" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M22 12c0 6-4.39 10-9.806 10C7.792 22 4.24 19.665 3 16m-1-4C2 6 6.39 2 11.806 2C16.209 2 19.76 4.335 21 8" />
                <path d="m7 17l-4-1l-1 4M17 7l4 1l1-4" />
            </g>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="link" viewBox="0 0 24 24">
            <path fill="currentColor"
                    d="M12 19a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm5 0a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm0-4a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm-5 0a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm7-12h-1V2a1 1 0 0 0-2 0v1H8V2a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3Zm1 17a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-9h16Zm0-11H4V6a1 1 0 0 1 1-1h1v1a1 1 0 0 0 2 0V5h8v1a1 1 0 0 0 2 0V5h1a1 1 0 0 1 1 1ZM7 15a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm0 4a1 1 0 1 0-1-1a1 1 0 0 0 1 1Z" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="arrow-right" viewBox="0 0 24 24">
            <path fill="currentColor"
                    d="M17.92 11.62a1 1 0 0 0-.21-.33l-5-5a1 1 0 0 0-1.42 1.42l3.3 3.29H7a1 1 0 0 0 0 2h7.59l-3.3 3.29a1 1 0 0 0 0 1.42a1 1 0 0 0 1.42 0l5-5a1 1 0 0 0 .21-.33a1 1 0 0 0 0-.76Z" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="category" viewBox="0 0 24 24">
            <path fill="currentColor"
                    d="M19 5.5h-6.28l-.32-1a3 3 0 0 0-2.84-2H5a3 3 0 0 0-3 3v13a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3v-10a3 3 0 0 0-3-3Zm1 13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-13a1 1 0 0 1 1-1h4.56a1 1 0 0 1 .95.68l.54 1.64a1 1 0 0 0 .95.68h7a1 1 0 0 1 1 1Z" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="calendar" viewBox="0 0 24 24">
            <path fill="currentColor"
                    d="M19 4h-2V3a1 1 0 0 0-2 0v1H9V3a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3Zm1 15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-7h16Zm0-9H4V7a1 1 0 0 1 1-1h2v1a1 1 0 0 0 2 0V6h6v1a1 1 0 0 0 2 0V6h2a1 1 0 0 1 1 1Z" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="heart" viewBox="0 0 24 24">
            <path fill="currentColor"
                    d="M20.16 4.61A6.27 6.27 0 0 0 12 4a6.27 6.27 0 0 0-8.16 9.48l7.45 7.45a1 1 0 0 0 1.42 0l7.45-7.45a6.27 6.27 0 0 0 0-8.87Zm-1.41 7.46L12 18.81l-6.75-6.74a4.28 4.28 0 0 1 3-7.3a4.25 4.25 0 0 1 3 1.25a1 1 0 0 0 1.42 0a4.27 4.27 0 0 1 6 6.05Z" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="plus" viewBox="0 0 24 24">
            <path fill="currentColor"
                    d="M19 11h-6V5a1 1 0 0 0-2 0v6H5a1 1 0 0 0 0 2h6v6a1 1 0 0 0 2 0v-6h6a1 1 0 0 0 0-2Z" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="minus" viewBox="0 0 24 24">
            <path fill="currentColor" d="M19 11H5a1 1 0 0 0 0 2h14a1 1 0 0 0 0-2Z" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="cart" viewBox="0 0 24 24">
            <path fill="currentColor"
                    d="M8.5 19a1.5 1.5 0 1 0 1.5 1.5A1.5 1.5 0 0 0 8.5 19ZM19 16H7a1 1 0 0 1 0-2h8.491a3.013 3.013 0 0 0 2.885-2.176l1.585-5.55A1 1 0 0 0 19 5H6.74a3.007 3.007 0 0 0-2.82-2H3a1 1 0 0 0 0 2h.921a1.005 1.005 0 0 1 .962.725l.155.545v.005l1.641 5.742A3 3 0 0 0 7 18h12a1 1 0 0 0 0-2Zm-1.326-9l-1.22 4.274a1.005 1.005 0 0 1-.963.726H8.754l-.255-.892L7.326 7ZM16.5 19a1.5 1.5 0 1 0 1.5 1.5a1.5 1.5 0 0 0-1.5-1.5Z" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="check" viewBox="0 0 24 24">
            <path fill="currentColor"
                    d="M18.71 7.21a1 1 0 0 0-1.42 0l-7.45 7.46l-3.13-3.14A1 1 0 1 0 5.29 13l3.84 3.84a1 1 0 0 0 1.42 0l8.16-8.16a1 1 0 0 0 0-1.47Z" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="trash" viewBox="0 0 24 24">
            <path fill="currentColor"
                    d="M10 18a1 1 0 0 0 1-1v-6a1 1 0 0 0-2 0v6a1 1 0 0 0 1 1ZM20 6h-4V5a3 3 0 0 0-3-3h-2a3 3 0 0 0-3 3v1H4a1 1 0 0 0 0 2h1v11a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8h1a1 1 0 0 0 0-2ZM10 5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v1h-4Zm7 14a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V8h10Zm-3-1a1 1 0 0 0 1-1v-6a1 1 0 0 0-2 0v6a1 1 0 0 0 1 1Z" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="star-outline" viewBox="0 0 15 15">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    d="M7.5 9.804L5.337 11l.413-2.533L4 6.674l2.418-.37L7.5 4l1.082 2.304l2.418.37l-1.75 1.793L9.663 11L7.5 9.804Z" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="star-solid" viewBox="0 0 15 15">
            <path fill="currentColor"
                    d="M7.953 3.788a.5.5 0 0 0-.906 0L6.08 5.85l-2.154.33a.5.5 0 0 0-.283.843l1.574 1.613l-.373 2.284a.5.5 0 0 0 .736.518l1.92-1.063l1.921 1.063a.5.5 0 0 0 .736-.519l-.373-2.283l1.574-1.613a.5.5 0 0 0-.283-.844L8.921 5.85l-.968-2.062Z" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="search" viewBox="0 0 24 24">
            <path fill="currentColor"
                    d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="user" viewBox="0 0 24 24">
            <path fill="currentColor"
                    d="M15.71 12.71a6 6 0 1 0-7.42 0a10 10 0 0 0-6.22 8.18a1 1 0 0 0 2 .22a8 8 0 0 1 15.9 0a1 1 0 0 0 1 .89h.11a1 1 0 0 0 .88-1.1a10 10 0 0 0-6.25-8.19ZM12 12a4 4 0 1 1 4-4a4 4 0 0 1-4 4Z" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="close" viewBox="0 0 15 15">
            <path fill="currentColor"
                    d="M7.953 3.788a.5.5 0 0 0-.906 0L6.08 5.85l-2.154.33a.5.5 0 0 0-.283.843l1.574 1.613l-.373 2.284a.5.5 0 0 0 .736.518l1.92-1.063l1.921 1.063a.5.5 0 0 0 .736-.519l-.373-2.283l1.574-1.613a.5.5 0 0 0-.283-.844L8.921 5.85l-.968-2.062Z" />
        </symbol>
    </defs>
</svg>

<div class="preloader text-white fs-6 text-uppercase overflow-hidden"></div>

    <div class="search-popup">
        <div class="search-popup-container">
            <div role="search" method="get" class="form-group position-relative">
                <input type="search" id="search-form" class="form-control border-0 border-bottom"
                       placeholder="Nhập và nhấn enter" value="" name="s" />
                <button type="submit" class="search-submit border-0 position-absolute bg-white"
                        style="top: 15px; right: 15px;">
                    <svg class="search" width="24" height="24">
                        <use xlink:href="#search"></use>
                    </svg>
                </button>
                <span id="record" class="search-submit border-0 position-absolute bg-white" style="top: 15px; right: 70px; cursor: pointer;">
                    <svg class="search" width="24" height="24">
                        <i class="bi bi-mic" style="font-size:1.4rem"></i>
                    </svg>
                </span>
                <span id="clear-icon" style="display: none; cursor: pointer; position: absolute; top: 15px; right: 110px;">
                    ✖
                </span>
                <div id="search-results" style="display: none; position: absolute; top: 100%; left: 0; right: 0; max-height: 300px; overflow-y: auto; background-color: white; z-index: 9999; border: 1px solid #ddd; border-top: none;">
                    <div class="container" id="abc">
                        <h1>Hello World</h1>
                    </div>
                </div>
            </div>


           

            <h5 class="cat-list-title">Duyệt theo danh mục</h5>
            <ul class="cat-list">
                <li class="cat-list-item mb-3">
                    <a href="#" title="Trang Điểm">Trang Điểm</a>
                </li>
                <li class="cat-list-item mb-3">
                    <a href="#" title="Chăm Sóc Da">Chăm Sóc Da</a>
                </li>
                <li class="cat-list-item mb-3">
                    <a href="#" title="Sản Phẩm Tắm">Sản Phẩm Tắm</a>   
                </li>
                <li class="cat-list-item mb-3">
                    <a href="#" title="Chăm Sóc Tóc">Chăm Sóc Tóc</a>
                </li>
                <li class="cat-list-item mb-3">
                    <a href="#" title="Chăm Sóc Cơ Thể">Chăm Sóc Cơ Thể</a>
                </li>
                <li class="cat-list-item mb-3">
                    <a href="#" title="Làm Móng">Làm Móng</a>
                </li>
                <li class="cat-list-item mb-3">
                    <a href="#" title="Dụng Cụ & Cọ">Dụng Cụ & Cọ</a>
                </li>
            </ul>
        </div>
    </div>



<nav class="navbar navbar-expand-lg text-white text-uppercase fs-6 py-3 px-0 px-md-3 border-bottom border-light align-items-center fixed-top border-opacity-10">
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center w-100 py-2">

            <div class="col-auto">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/images/Enigma (1).png" alt="logo" style="height: 120px; width: 200px;">
                </a>
            </div>

            <div class="col-auto">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-end homever2 bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Menu</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Đóng"></button>
                    </div>

                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 gap-5 pe-3">

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownShop" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cửa Hàng</a>
                                <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownShop">
                                    <li>
                                            <a href="@Url.Action("Index", "Shop")" class="dropdown-item item-anchor">Cửa Hàng</a>
                                    </li>
                                    @* <li>
                                        <a href="single-product.html" class="dropdown-item item-anchor">Chi tiết sản phẩm</a>
                                    </li> *@
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownPages" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Trang</a>
                                <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownPages">
                                    <li>
                                        <a href="cart.html" class="dropdown-item item-anchor">Giỏ Hàng</a>
                                    </li>
                                    <li>
                                        <a href="checkout.html" class="dropdown-item item-anchor">Thanh Toán</a>
                                    </li>
                                    <li>
                                            <a href="@Url.Action("Index", "LoginAndSignUp")" class="dropdown-item item-anchor">Đăng Nhập, Đăng ký</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-auto">
                <ul class="list-unstyled d-flex m-0 mt-3 mt-xl-0">
                    @* <li>
                        <a href="wishlist.html" class="text-uppercase mx-3">
                            <svg width="24" height="24" viewBox="0 0 24 24">
                                <use xlink:href="#heart"></use>
                            </svg>
                            <span class="wishlist-count">(0)</span>
                        </a>
                    </li> *@
                        <li>
                            <a href="@Url.Action("Index", "Cart")" class="text-uppercase mx-3">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use xlink:href="#cart"></use>
                                </svg>
                                <span class="cart-count">(0)</span>
                            </a>
                        </li>
                    <li>
                        <a href="javascript:void(0)" class="mx-3" onclick="checkLoginStatus()">
                            <svg width="24" height="24" viewBox="0 0 24 24">
                                <use xlink:href="#user"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="search-box">
                        <a href="#" class="search-button mx-3">
                            <svg width="24" height="24" viewBox="0 0 24 24" class="search">
                                <use xlink:href="#search"></use>
                            </svg>
                        </a>
                    </li>
                     <li class="" id="BtnLogOut" style="display:none">
                        <a href="#" class="">
                                <i class="fa-solid fa-right-from-bracket"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

        @if (khachHangLogin != null && LoginRoute!=null)
        {
            <div id="welcomeMessage" style="position: fixed; top: 10px; right: 10px; background-color: deepskyblue; padding: 10px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0,0,0,0.2); font-size: 11px; opacity: 0; transition: opacity 0.5s; width: 400px; height: 40px">
                Chào mừng bạn quay trở lại!
            </div>

            <script>
                function removeRoutedFromLoginSession() {
                    fetch('/Home/RemoveRoutedFromLoginSession', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(response => {
                        if (response.ok) {
                            console.log("Session key 'RoutedFromLogin' removed");
                        }
                    }).catch(error => console.error("Error removing session key:", error));
                }

                window.onload = function () {
                    removeRoutedFromLoginSession(); 

                    const khachHang1 = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(khachHangLogin ?? new { }));
                    const welcomeMessage = document.getElementById("welcomeMessage");
                    welcomeMessage.innerHTML = `Chào mừng bạn quay trở lại, ${khachHang1.TenKhachHang}`;

                    if (welcomeMessage) {
                        welcomeMessage.style.opacity = 1;
                        setTimeout(function () {
                            welcomeMessage.style.opacity = 0;
                        }, 3000);
                    }
                };
            </script>
        }





</nav>

    @RenderBody()

@* <section id="best-sellers" class="best-sellers product-carousel position-relative py-5 my-5 open-up" data-aos="zoom-out">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
            <h4 class="text-uppercase">Sản Phẩm Bán Chạy</h4>
            <a href="shop-sidebar.html" class="btn-link">Xem Tất Cả Sản Phẩm</a>
        </div>
        <div class="swiper product-swiper overflow-hidden">
            <div class="swiper-wrapper d-flex">
                <div class="swiper-slide">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder position-relative">
                            <a href="single-product.html">
                                <img src="images/product-item7.jpg" alt="categories" class="product-image img-fluid">
                            </a>
                            <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                            <div class="product-content">
                                <h5 class="text-uppercase fs-5 mt-3">
                                    <a href="single-product.html">Clear Bioglow</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Thêm vào giỏ hàng"><span>$95.00</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder position-relative">
                            <a href="single-product.html">
                                <img src="images/product-item11.jpg" alt="categories" class="product-image img-fluid">
                            </a>
                            <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                            <div class="product-content">
                                <h5 class="text-uppercase fs-5 mt-3">
                                    <a href="single-product.html">Clear Bioglow</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Thêm vào giỏ hàng"><span>$95.00</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder position-relative">
                            <a href="single-product.html">
                                <img src="images/product-item1.jpg" alt="categories" class="product-image img-fluid">
                            </a>
                            <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                            <div class="product-content">
                                <h5 class="text-uppercase fs-5 mt-3">
                                    <a href="single-product.html">Clear Bioglow</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Thêm vào giỏ hàng"><span>$95.00</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder position-relative">
                            <a href="single-product.html">
                                <img src="images/product-item3.jpg" alt="categories" class="product-image img-fluid">
                            </a>
                            <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                            <div class="product-content">
                                <h5 class="text-uppercase fs-5 mt-3">
                                    <a href="single-product.html">Clear Bioglow</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Thêm vào giỏ hàng"><span>$95.00</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder position-relative">
                            <a href="single-product.html">
                                <img src="images/product-item15.jpg" alt="categories" class="product-image img-fluid">
                            </a>
                            <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                            <div class="product-content">
                                <h5 class="text-uppercase fs-5 mt-3">
                                    <a href="single-product.html">Clear Bioglow</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Thêm vào giỏ hàng"><span>$95.00</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="icon-arrow no-outline icon-arrow-left bg-light bg-opacity-10"></div>
        <div class="icon-arrow no-outline icon-arrow-right bg-light bg-opacity-10"></div>
    </div>
</section>
<section id="best-sellers" class="best-sellers product-carousel position-relative py-5 my-5 open-up"
            data-aos="zoom-out">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
            <h4 class="text-uppercase">Sản Phẩm Liên Quan</h4>
            <a href="shop-sidebar.html" class="btn-link">Xem Tất Cả Sản Phẩm</a>
        </div>
        <div class="swiper product-swiper overflow-hidden">
            <div class="swiper-wrapper d-flex">
                <div class="swiper-slide">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder position-relative">
                            <a href="single-product.html">
                                <img src="images/product-item14.jpg" alt="categories" class="product-image img-fluid">
                            </a>
                            <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                            <div class="product-content">
                                <h5 class="text-uppercase fs-5 mt-3">
                                    <a href="single-product.html">Clear Bioglow</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Thêm vào giỏ hàng"><span>$95.00</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder position-relative">
                            <a href="single-product.html">
                                <img src="images/product-item2.jpg" alt="categories" class="product-image img-fluid">
                            </a>
                            <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                            <div class="product-content">
                                <h5 class="text-uppercase fs-5 mt-3">
                                    <a href="single-product.html">Clear Bioglow</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Thêm vào giỏ hàng"><span>$95.00</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder position-relative">
                            <a href="single-product.html">
                                <img src="images/product-item10.jpg" alt="categories" class="product-image img-fluid">
                            </a>
                            <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                            <div class="product-content">
                                <h5 class="text-uppercase fs-5 mt-3">
                                    <a href="single-product.html">Clear Bioglow</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Thêm vào giỏ hàng"><span>$95.00</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder position-relative">
                            <a href="single-product.html">
                                <img src="images/product-item6.jpg" alt="categories" class="product-image img-fluid">
                            </a>
                            <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                            <div class="product-content">
                                <h5 class="text-uppercase fs-5 mt-3">
                                    <a href="single-product.html">Clear Bioglow</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Thêm vào giỏ hàng"><span>$95.00</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder position-relative">
                            <a href="single-product.html">
                                <img src="images/product-item4.jpg" alt="categories" class="product-image img-fluid">
                            </a>
                            <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                            <div class="product-content">
                                <h5 class="text-uppercase fs-5 mt-3">
                                    <a href="single-product.html">Clear Bioglow</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Thêm vào giỏ hàng"><span>$95.00</span></a>
                            </div>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdownShop" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cửa Hàng</a>
                                    <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownShop">
                                        <li>
                                            <a href="shop-sidebar.html" class="dropdown-item item-anchor">Cửa Hàng</a>
                                        </li>
                                        <li>
                                            <a href="single-product.html" class="dropdown-item item-anchor">Chi tiết sản phẩm</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdownPages" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Trang</a>
                                    <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownPages">
                                        <li>
                                            <a href="cart.html" class="dropdown-item item-anchor">Giỏ Hàng</a>
                                        </li>
                                        <li>
                                            <a href="checkout.html" class="dropdown-item item-anchor">Thanh Toán</a>
                                        </li>
                                        <li>
                                            <a asp-controller="LoginAndSignUp" asp-action="Index" class="dropdown-item item-anchor">Đăng Nhập</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="icon-arrow no-outline icon-arrow-left bg-light bg-opacity-10"></div>
        <div class="icon-arrow no-outline icon-arrow-right bg-light bg-opacity-10"></div>
    </div>
</section>


<section class="video py-5">
    <div class="video-content open-up" data-aos="zoom-out">
        <div class="video-bg">
            <img src="images/video-image-2.jpg" alt="video" class="video-image img-fluid">
        </div>
        <div class="video-player">
            <a class='youtube' href="https://www.youtube.com/embed/pjtsGzQjFM4">
                <i class="icon icon-play"></i>
                <img src="images/text-pattern.png" alt="pattern" class="text-rotate">
            </a>
        </div>
    </div>
</section> *@

<footer id="footer" class="mt-5">
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-between py-5">
            <div class="col-md-4 col-sm-6">
                <div class="footer-menu footer-menu-001">
                    <div class="footer-intro mb-4">
                        <a href="index.html">
                                <img src="~/images/Enigma (1).png" alt="logo" style="height: 150px; width: 250px;">
                        </a>
                    </div>
                    <div class="social-links">
                        <ul class="list-unstyled d-flex flex-wrap gap-4">
                            <li>
                                <a href="#" class="">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#twitter"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#youtube"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#pinterest"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="footer-menu footer-menu-002">
                    <h5 class="widget-title text-uppercase mb-4">Liên Kết Nhanh</h5>
                    <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
                        <li class="menu-item mb-2">
                            <a href="index.html" class="item-anchor">Trang Chủ</a>
                        </li>
                        <li class="menu-item mb-2">
                            <a href="shop.html" class="item-anchor">Giới Thiệu</a>
                        </li>
                        <li class="menu-item mb-2">
                            <a href="blog.html" class="item-anchor">Dịch Vụ</a>
                        </li>
                        <li class="menu-item mb-2">
                            <a href="styles.html" class="item-anchor">Mặt Hàng Đơn Lẻ</a>
                        </li>
                        <li class="menu-item mb-2">
                            <a href="#" class="item-anchor">Liên Hệ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="footer-menu footer-menu-003">
                    <h5 class="widget-title text-uppercase mb-4">Trợ Giúp & Thông Tin</h5>
                    <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
                        <li class="menu-item mb-2">
                            <a href="#" class="item-anchor">Theo Dõi Đơn Hàng Của Bạn</a>
                        </li>
                        <li class="menu-item mb-2">
                            <a href="#" class="item-anchor">Trả Hàng + Đổi Hàng</a>
                        </li>
                        <li class="menu-item mb-2">
                            <a href="#" class="item-anchor">Vận Chuyển + Giao Hàng</a>
                        </li>
                        <li class="menu-item mb-2">
                            <a href="#" class="item-anchor">Liên Hệ Chúng Tôi</a>
                        </li>
                        <li class="menu-item mb-2">
                            <a href="#" class="item-anchor">Tìm Chúng Tôi Dễ Dàng</a>
                        </li>
                        <li class="menu-item mb-2">
                            <a href="faqs.html" class="item-anchor">Câu Hỏi Thường Gặp</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu footer-menu-004 border-animation-left">
                    <h5 class="widget-title text-uppercase mb-4">Liên Hệ Với Chúng Tôi</h5>
                    <p>
                        Bạn có bất kỳ câu hỏi hay đề xuất nào không? <a href="mailto:contact@yourcompany.com"
                                                                        class="item-anchor">contact@yourcompany.com</a>
                    </p>
                    <p>
                        Bạn cần hỗ trợ? Gọi cho chúng tôi. <a href="tel:+43 720 11 52 78" class="item-anchor">
                            +43 720 11 52
                            78
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex flex-wrap">
                    <div class="shipping">
                        <span>Chúng tôi vận chuyển với:</span>
                        <img src="~/images/arct-icon.png" alt="icon">
                        <img src="~/images/dhl-logo.png" alt="icon">
                    </div>
                    <div class="payment-option">
                        <span>Phương Thức Thanh Toán:</span>
                        <img src="~/images/visa-card.png" alt="card">
                        <img src="~/images/paypal-card.png" alt="card">
                        <img src="~/images/master-card.png" alt="card">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div style="width: 100%; height: 100%;">
    <div id="tawk-bubble-container" role="button" tabindex="0" class="tawk-bubble-container" onclick="toggleChatBox()">
        <div class="tawk-icon-right">
            <i role="button" tabindex="0" data-text="Đóng" aria-label="Đóng" class="tawk-icon tawk-icon-close tawk-icon-small"></i>
            <img src="https://waifubait.moe/cdn/shop/products/RemProof_grande.png?v=1552807117" alt="Thu hút chú ý đến tính năng trò chuyện" style="max-width: 124px;height: 100%;">
        </div>
    </div>
    <div id="chat-box" class="chat-box" style="display: none;">
        <div class="chat-header">Hộp Thoại Hỗ Trợ</div>
        <div class="chat-body" id="chat-body">
            <div class="chat-message">Chào bạn! Bạn cần hỗ trợ gì?</div>
        </div>
        <div class="chat-input-container">
            <input type="text" id="user-input" placeholder="Nhập câu hỏi..." class="chat-input">
            <button onclick="sendMessage()" class="chat-send-button">Gửi</button>
        </div>
    </div>
</div>

<script>
    function removeRoutedFromLoginSession() {
        fetch('/Home/RemoveRoutedFromLoginSession', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            if (response.ok) {
                console.log("Session key 'RoutedFromLogin' removed");
            }
        }).catch(error => console.error("Error removing session key:", error));
    }
</script>
<script>
    const sanPhamList2 = @Html.Raw(Json.Serialize(sanPhamList2));
    const khachHang = @Html.Raw(Json.Serialize(khachHangLogin));
    const searchForm = document.getElementById("search-form");
    const clearIcon = document.getElementById("clear-icon");
    const searchResult = document.getElementById("search-results");
    const showLog = document.getElementById("BtnLogOut");
    const abc = document.getElementById("abc");    
    function formatCurrency(value) {
        return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }
    if(khachHang==null)
    {
        showLog.style.display="none"
    }
    else
    {
        showLog.style.display="block"
    }
    searchForm.addEventListener("input", function () {
        if (searchForm.value.length > 0) {
            abc.innerHTML = '';
            clearIcon.style.display = "inline";
            searchResult.style.display = "block";
            let hasResults = false; 

            for (let item of sanPhamList2) {
                if (item.tenSanPham && item.tenSanPham.toLowerCase().includes((searchForm.value.toLowerCase().trim()))) {
                    console.log(item)
                    const giaDaGiam = item.giaDaGiam ? formatCurrency(item.giaDaGiam) : 0;
                    const giaGoc = item.giaGoc ? formatCurrency(item.giaGoc) : 0 ;
                    const tietKiem = item.tietKiem ? formatCurrency(item.tietKiem): 0;
                    abc.innerHTML += `
                                <div class="row" style="padding-top:30px; padding-bottom:30px; border: 1px solid lightgrey">
                                    <a>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <img src="${item.ava || 'default-image.jpg'}" style="max-height:75px">
                                                </div>
                                                <div class="col-md-8" style="text-align:left; padding-left: 30px">
                                                    <h6><strong>${item.tenSanPham || 'Tên sản phẩm không xác định'}</strong></h6>
                                                    <h7><strong>Mô tả:</strong> ${item.moTa || 'Không có mô tả'}</h7><br>
                                                                    <h7><strong>Giá: &nbsp;</strong><strong style="color:red">${giaDaGiam || 'N/A'} &nbspVND</strong>&nbsp;&nbsp;<del>${giaGoc || 'N/A'} &nbspVND</del> &nbsp / 1 ${item.donVi}</h7><br>
                                                            <h7><i style="color: darkgreen">Tiết Kiệm: ${tietKiem || '0'} &nbsp VND</i></h7>
                                                </div>
                                                <div class="col-md-2" style="text-align:left; padding-left: 30px">
                                                    <br>
                                                    <h3>-${Math.round((item.tietKiem || 0) * 100 / (item.giaGoc || 1))}%</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            `;
                    hasResults = true;
                }
            }
            if (!hasResults) {
                abc.innerHTML = '<div class="text-center" style="padding: 15px;">Không tìm thấy sản phẩm nào</div>';
            }
        } else {
            clearIcon.style.display = "none";
            searchResult.style.display = "none"
        }
    });

    clearIcon.addEventListener("click", function () {
        searchForm.value = "";
        clearIcon.style.display = "none";
        searchForm.focus();
    });
</script>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/plugins.js"></script>
<script src="~/js/SmoothScroll.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="~/js/script.js"></script>
<script>
    function toggleChatBox() {
        const chatBox = document.getElementById("chat-box");
        chatBox.style.display = chatBox.style.display === "none" ? "block" : "none";
    }

    async function sendMessage() {
        const userInput = document.getElementById("user-input").value;
        const chatBody = document.getElementById("chat-body");

        if (userInput.trim() !== "") {
            const userMessage = document.createElement("div");
            userMessage.className = "chat-message";
            userMessage.textContent = "Bạn: " + userInput;
            chatBody.appendChild(userMessage);

            const waitingMessage = document.createElement("div");
            waitingMessage.className = "chat-message chat-message-waiting";
            waitingMessage.textContent = "Hệ thống: Đang xử lý...";
            chatBody.appendChild(waitingMessage);

            // Send the user input to the backend
            const response = await fetch('@Url.Action("TraLoi", "Home")', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                    body: JSON.stringify(userInput)
                });

            const data = await response.json();
            chatBody.removeChild(waitingMessage);

            // Display the response from the API
            const responseMessage = document.createElement("div");
            responseMessage.className = "chat-message";
            responseMessage.textContent = "Hệ thống: " + data.response;
            chatBody.appendChild(responseMessage);

            // Clear user input and scroll to the bottom
            document.getElementById("user-input").value = "";
            chatBody.scrollTop = chatBody.scrollHeight;
        }
    }
</script>
<script>
    const recordBtn = document.getElementById("record");
    const searchInput = document.getElementById("search-form");

    let SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
    let recognition;
    let recording = false;

    function speechToText() {
        try {
            recognition = new SpeechRecognition();
            recognition.lang = "vi";
            recognition.interimResults = true;
            recording = true;

            recognition.start();
            recordBtn.classList.add("recording");
            recordBtn.innerHTML = '<i class="bi bi-mic-fill"></i>'; // Biểu tượng khi đang ghi âm

            recognition.onresult = (event) => {
                const speechResult = event.results[0][0].transcript;
                if (event.results[0].isFinal) {
                    searchInput.value = speechResult;
                } else {
                    searchInput.placeholder = "Đang nghe...";
                }
            };

            recognition.onspeechend = () => {
                stopRecording();
            };

            recognition.onerror = (event) => {
                stopRecording();
                if (event.error === "no-speech") {
                    alert("Không phát hiện giọng nói, vui lòng thử lại.");
                } else if (event.error === "audio-capture") {
                    alert("Không tìm thấy micro.");
                } else if (event.error === "not-allowed") {
                    alert("Không có quyền sử dụng micro.");
                } else {
                    alert("Lỗi: " + event.error);
                }
            };
        } catch (error) {
            recording = false;
            console.error("Lỗi khi khởi tạo nhận dạng giọng nói:", error);
        }
    }

    recordBtn.addEventListener("click", () => {
        if (!recording) {
            speechToText();
        } else {
            stopRecording();
        }
    });

    function stopRecording() {
        recognition.stop();
        recording = false;
        searchInput.placeholder = "Nhập và nhấn enter";
        recordBtn.classList.remove("recording");
        recordBtn.innerHTML = '<i class="bi bi-mic"></i>'; // Trở lại biểu tượng micro ban đầu
    }

</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function checkLoginStatus() {
        fetch('@Url.Action("CheckLoginStatus", "InformationPersonal")')
            .then(response => response.json())
            .then(data => {
                if (data.isLoggedIn) {
                    // Nếu đã đăng nhập, chuyển hướng tới trang thông tin cá nhân
                    window.location.href = '@Url.Action("Index", "InformationPersonal")';
                } else {
                    // Nếu chưa đăng nhập, hiển thị thông báo SweetAlert
                    Swal.fire({
                        icon: 'warning',
                        title: 'Bạn cần đăng nhập',
                        text: 'Vui lòng đăng nhập để xem thông tin cá nhân của bạn.',
                        confirmButtonText: 'OK'
                    });
                }
            });
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/5b61887464.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
<style>
#tawk-bubble-container {
position: fixed;
bottom: 20px;
right: 20px;
z-index: 9999;
cursor: pointer;
}
.chat-box {
position: fixed;
bottom: 110px;
right: 20px;
width: 500px;
border: 1px solid #ddd;
border-radius: 8px;
background-color: #fff4f4;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
z-index: 10000;
font-family: Arial, sans-serif;
}
.chat-header {
padding: 10px;
font-weight: bold;
text-align: center;
    background-color: #ffcccc;
color: #fff;
border-radius: 8px 8px 0 0;
}

.chat-body {
max-height: 150px;
overflow-y: auto;
padding: 10px;
font-size: 14px;
background-color: #fff;
}

.chat-message {
margin-bottom: 8px;
    border-radius: 5px;
    background-color: #ffe6e6;
}

.chat-input-container {
background-color: #fff; 
display: flex;
padding: 10px;
border-top: 1px solid #ffcccc;
border-radius: 8px;
}

/* Input field styling */
.chat-input {
flex: 1;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
margin-right: 10px;
transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition */
}

/* Change background color and border color on hover */
.chat-input:hover {
background-color: #ffe6e6; /* Light pink on hover */
border-color: #ff9999; /* Change border color on hover */
}

/* Change border color when focused */
.chat-input:focus {
border-color: #ff6666; /* Change border color when focused */
outline: none; /* Remove default outline */
background-color: #ffe6e6; /* Optional: keep same background color when focused */
}
.chat-send-button {
padding: 5px 10px;
margin-left: 5px;
background-color: #0078d4;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
background-color: #ff6666; /* Button color */
color: #fff;
}
</style>